.login-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  
  .left-panel,
  .right-panel {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    background: linear-gradient(135deg, #ffffff, #f0f0f0); /* Light gradient */
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  .full-width {
    width: 100%;
  }
  
 