<div class="login-container">
    <div class="left-panel">
      <mat-card class="image-card">
        <img mat-card-image src="assets\harvest-image.jpeg" alt="Goli Soda Login" />
      </mat-card>
    </div>
  
    <div class="right-panel">
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <h2>Login to Goli Soda</h2>
          
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter your email" formControlName="email" type="email">
            </mat-form-field>
          
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          
            <button mat-raised-button color="primary" class="full-width" [disabled]="loginForm.invalid">
              Login
            </button>
          </form>
          
    </div>
  </div>
  